<% include header %>

<div class="ui page grid chalets main" ng-app="mezouilhac-chalet" ng-controller="chaletsCtrl">
	<div class="row">
		<div class="column">
			<div class="ui segment">
				<h2 class="ui header ">
				Nos hébérgements
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="ui tree cards">

				<% chalets.forEach(function (chalet, i) { %>
				<div class="ui card" ng-init="loadChalet('<%= chalet._id %>')">
					<div class="image">
						<img ng-src="img/chalets/<%= chalet.img_principale %>" >
					</div>
					<div class="content">
						<a class="header"><%= chalet.nom %></a>
						<div class="meta">
							<i class="users icon"></i>
							<%= chalet.capacite %>
						</div>
						<div class="description">
							<p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces.</p>
						</div>
					</div>
					<div class="ui bottom attached red button" data-modal="<%= i %>" ng-click="openModal('<%= chalet._id %>')">
						<i class="search icon"></i>
						En savoir plus
					</div>
				</div>
				<% }); %>

			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="ui large modal">
		<i class="close icon"></i>
		<div class="header">
			{{chalet.nom}}
		</div>
		<div class="content">
			<div class="ui grid">
				<div class="row">
					<div class="ten wide column">
						<div class="ui segment">
							<img ng-if="gallerie" ng-src="img/chalets/{{gallerie | imgFull}}" width="100%">
						</div>
					</div>
					<div class="six wide column">
						<div class="ui segment">
							<div class="ui tiny bordered images">
								<img ng-repeat="miniature in chalet.gallerie" ng-src="/img/chalets/{{miniature}}" ng-click="changeImg(miniature)">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="six wide column">
						<div class="row">
							<div class="ui segment">
								<h3 class="ui large top attached green label">Caractéristique</h3>
								<p>puis on va mettre du texte ici<br/>
									Même une liste</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="ui segment">
								<h3 class="ui large top attached green label">Prix</h3>
								<p></p>
							</div>
						</div>
					</div>
					<div class="ten wide column">
						<div class="ui segment">
							<h3 class="ui large top attached green label">Inventaire</h3>
							<div class="ui three cards">
								<div class="card" ng-repeat="inventaire in chalet.inventaire">
									<div class="content">
										<div class="header">{{inventaire.nom}}</div>
										<div class="description">
											<div class="ui list">
												<div class="item" ng-repeat="item in inventaire.item">{{item}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui button">Fermer</div>
		</div>
	</div>
</div>

<% include footer %>

<script src='components/angular/angular.min.js'></script>
<script src="js/chaletJS.js"></script>

</body>
</html>